{% load static %}

<question class="card mb-3 w-100">
    <div class="row g-0">
        <div class="p-2" style="width: 110px;">
            <div class="border mb-3 rounded" style="height: 100px; width: 100px;">
            <img
                src="{{ question.author.profile.avatar.url }}"
                class="img-fluid rounded"
                style="object-fit: cover; width: 100%; height: 100%;"
                alt="..."
            />
            </div>
            <div class ="item-with-buttons">
            <div class="d-flex" style="width: 100px;">
                <label class='rating' data-component="question" data-component-id="{{ question.id }}" style="text-align: center;">{{ question.rating }}</label>
            </div>
            <div class="d-flex justify-content-between" style="width: 100px;">
                <button name="Like" type="button" class="Like bi bi-arrow-up-short btn btn-sm btn-light fs-5 p-0" data-action="Like">
                    <img src="{% static "img/like.svg" %}" width="25" height="25" alt="arrow up" />
                </button>
                <button name="Dislike" type="button" class="Dislike bi bi-arrow-down-short btn btn-sm btn-light fs-5 p-0" data-action="Dislike">
                    <img src="{% static "img/dislike.svg" %}" width="25" height="25" alt="arrow down" />
                </button>
            </div>
            </div>
        </div>

        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "question" question.id %}">{{ question.title }}</a>
                </h5>
                <p class="card-text">
                    {{ question.content }}
                </p>

                <div class="row">
                    <a class="col-4" href="{% url "question" question.id %}">answers ({{ question.answer_set.count }})</a>
                    <div class="col-8">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</question>

