{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex gap-3 align-items-center">
        <h1 class="title">Register</h1>
    </div>
    
    <div class="col-8">
        <form class="container-fluid" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: grid; grid-template-columns: 100px 1fr;">
                {% if form.non_field_errors %}
                    <div class="error-message" style="color: red; grid-column: 2;">{{ form.non_field_errors }}</div>
                {% endif %}
                <label class="form-label mt-3" for="username">Login: </label>
                <div class="was-validated">
                    <input type="text" maxlength="20" class="form-control w-100 mt-3" style="height: 40px; resize: none;" name="username" placeholder="Write your login" id="username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} required>
                    <div class="invalid-feedback">
                        Oops... Please enter your login.
                    </div>
                </div>
                <label class="mt-3" for="email">Email: </label>
                <div class="was-validated">
                    <input type="email" maxlength="50" class="form-control w-100 mt-3" style="height: 40px; resize: none;" name="email" placeholder="Write your email" id="email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} required>
                    <div class="invalid-feedback">
                        Oops... Please enter your email.
                    </div>
                </div>
                <label class="form-label mt-3" for="password">Password: </label>
                <div class="was-validated">
                    <input type="password" maxlength="20" class="form-control w-100 mt-3" style="height: 40px; resize: none;" name="password" placeholder="Create your password" id="password" {% if form.password.value %}value="{{ form.password.value }}"{% endif %} required>
                    <div class="invalid-feedback">
                        Oops... Please enter your password.
                    </div>
                </div>
                <label class="form-label mt-3" for="confirm_password">Repeat password: </label>
                <div class="was-validated">
                    <input type="password" maxlength="20" class="form-control w-100 mt-3" style="height: 40px; resize: none;" name="confirm_password" placeholder="Repeat your password" id="confirm_password" {% if form.confirm_password.value %}value="{{ form.confirm_password.value }}"{% endif %} required>
                    <div class="invalid-feedback">
                        Oops... Please enter your password.
                    </div>
                </div>
                <label class="mt-3" for="avatar">Upload avatar: </label>
                <div class=" rounded image-container d-flex" style="grid-column: 2;">
                    <img class="rounded" id="avatar_preview" width="150" src="{% static 'img/avatar.png' %}" />
                </div>
                <div class="mt-3 was-validated" style="grid-column: 2;">
                    <input type="file" accept="image/jpeg, image/jpg, image/png" name='avatar' class="form-control" aria-label="file example" id="avatar" {% if form.avatar.value %}value="{{ form.avatar.value }}"{% endif %} required>
                    <div class="invalid-feedback">Oops... Please choose your file.</div>
                </div>
                <script>
                    const avatarInput = document.getElementById('avatar');
                      const avatarPreview = document.getElementById('avatar-preview');

                      avatarInput.addEventListener('change', function() {
                        const file = this.files[0];

                        if (file) {
                          const reader = new FileReader();

                          reader.onload = function() {
                            avatar_preview.src = reader.result;
                          }

                          reader.readAsDataURL(file);
                        }
                      });
                    </script>
                <button class="btn btn-outline-success mt-3 mb-3" style="grid-column: 2;" type="submit">REGISTER!</button>
            </div>
        </form>
    </div>
{% endblock %}

            
